body {
    background-color: #a9182a; /* #6623B2*/
}

table {
    height: 400px;
    width: 900px;
    position: relative;
    left: 20px;
    bottom: 20px;
    font-size: 17px;
    border-collapse: collapse;
    border: 2px solid #cecece;
}

th {
    border: 2px solid #cecece;
    background-color: #dddddd;
    font-weight:bold;
    text-align: left;
}

td {
    border: 2px solid #cecece;
    padding:5px;
}


.tablebox{
    width: 100px;
    height: 30px;
    margin: 3px;
}


.body1 {
    margin: auto;
    position:relative;
    top: -20px;
    background-color: #3d3935; /* #6623B2*/
    box-shadow: 0px 0px 8px black;
    height: 900px;
    width: 1200px;
}

.body2 {
    background-color: #ffffff; /* #6623B2*/
    position: relative;
    top: 40px;
    height: 820px;
    width: 1200px;
}
.body3 {
    position: relative;
    left: 20px;
    background-color: #e9eff1;
    height: 700px;
    width: 960px;
    border: 2px solid #dee6ea;
}

.buttons {
    width: 100px;
    font-size: 16px;
    background: #a9182a;
    color: white;
    border: 2px solid white;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.form1{
    padding-top:5px;
}

#h1 {
    text-align: left;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

#h2 {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 24px;
    color: #a9182a;
    font-weight:bold;
}

#p1 {
    padding-left: 20px;
    padding-bottom:20px;
    font-size: 17px;
}

#f1 {
    padding-left: 20px;
    font-size: 24px;
    color: #a9182a;
    font-weight: bold;
}

#button1 {
    float: right;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 5px;
}

#button2 {
    float: right;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 5px;
}

#button3 {
    float: right;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 5px;
}

#button4 {
    float: right;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 5px;
}

#percent{
    width:160px;
}

#resultEnd{
    padding-left:20px;
}

#tableA5 {
    height: 400px;
    width: 900px;
    position:relative;
    top: 50px;
    font-size: 17px;
    border-collapse: collapse;
    border: 2px solid #cecece;
    display: none;
}
